body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* header */

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.header-title{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: turquoise;
}

.header-item{
    display: inline;
    margin-left: 1rem;
}

.header-link{
    color: turquoise;
    font-size: 22px;
    font-weight: 700;
    text-decoration:none;
    text-transform: uppercase;  
}

.header-link:hover{
    color: #278077;
    text-decoration: underline;
}

/* main */

.around{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.around-texts{
    align-self: center;
    padding: 3rem;
    border: 3px dashed turquoise;
    width: 40%;
}

.around-title, .about-title{
    font-size: 30px;
    font-weight: 700;
    margin: 1rem 0;
}

.around-images{
    width: 35%;
}

.around-image{
    border-radius: 2rem;
}

.image-1{
    height: 250px
}

.image-2{
    height: 230px;
}

.image-3{
    height: 200px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8rem 0;
}

.about-image{
    border-radius: 2rem;
    height: 250px;
}

.about-texts{
    width: 30%;
    padding: 3rem;
    border: 3px dashed turquoise;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* rodape */

.footer-image{
    width: 50px;
}

@media screen and (max-width:480px){
    .header-content, .around, .about{
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .around-images{
        width: 0px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 1rem;
    }

    .around-image{
        margin: 0.5rem;
    }

    .image-3{
        display: none;
    }

    .about{
        flex-direction: column-reverse;
        margin: 2rem 0;
    }

    .about-texts{
        margin-bottom: 2rem;
    }

   

}

@media screen and (max-width:1260px){
    .header-content, .around, .about{
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .around-images{
        width: 0px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 1rem;
    }

    .around-image{
        margin: 0.5rem;
    }

    .about{
        flex-direction: column-reverse;
        margin: 2rem 0;
    }

    .about-texts{
        margin-bottom: 2rem;
    }

}