body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* header */

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.header-title{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: turquoise;
}

.header-item{
    display: inline;
    margin-left: 1rem;
}

.header-link{
    color: turquoise;
    font-size: 22px;
    font-weight: 700;
    text-decoration:none;
    text-transform: uppercase;  
}

.header-link:hover{
    color: #278077;
    text-decoration: underline;
}

/* itinerary */

.itinerary{
    margin: 5rem 0;
}

.itinerary-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.itinerary-item{
    padding: 2rem 3rem;
    border: 3px solid turquoise ;
    border-radius: 2rem;
}

.itinerary-item:hover{
    border-color: #278077;
}

.itinerary-item:hover .itinerary-item-title{
    font-size: 25px;
}

.itinerary-item-link{
    text-decoration: none;
}

.itinerary-item-title{
    color: turquoise;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.itinerary-item-image{
    width: 200px;
    height: 300px;

    margin: 1rem 0;

    box-shadow: 10px 10px 8px #278077 ;
}

.itinerary-item-text{
    color: #278077;
}

/* rodape */

.footer-image{
    width: 50px;
}

@media screen and (max-width:960px){
    .header-content{
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .itinerary-list{
        flex-direction: column;
    }

    .itinerary-item{
        margin: 1rem 0;
        padding: 5rem;
    }
}