
body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.content{
    /* position: relative; */
    width: 1300px;
    margin: 0 auto;
}

.around{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    
}

.around-texts{
    align-self: center;
    padding: 3rem;
    border: 3px dashed turquoise;
    width: 40%;
}

.around-title, .about-title{
    font-size: 30px;
    font-weight: 700;
    margin: 1rem 0;
}

.around-images{
    width: 35%;
}

.around-image{
    border-radius: 2rem;
}

.image-1{
    height: 250px
}

.image-2{
    height: 230px;
}

.image-3{
    height: 200px;
}

.about{
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    margin: 8rem 0;
}

.about-image{
    border-radius: 2rem;
}

.about-texts{
    width: 30%;
    padding: 1rem 4rem;
    border: 3px dashed turquoise;

    display: flex;
    flex-direction: column;
    justify-content: center;
}